header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img {
  width: 2em;
  height: 2em;
  margin-left: 40px;
  margin-right: 40px;
}

.logo {
  width: 3.5em;
  height: 2em;
}
