<section>
  <div class="container">
    <div class="title">
      <h1>Diego Celestino</h1>
      <h2>I am always learning something new</h2>
    </div>


    <div class="wrapper">
<!--      1-->
      <div class="piece1"><div class="fragment1"><div class="fragment1-2">
      </div></div></div>

<!--      2-->
      <div class="piece2"><div class="fragment2"><div class="fragment2-2">
      </div></div></div>

<!--      3-->
      <div class="piece3"><div class="fragment3"><div class="fragment3-2">
      </div></div></div>

      <!--      4-->
      <div class="piece4"><div class="fragment4"><div class="fragment4-2">
      </div></div></div>

      <!--      5-->
      <div class="piece5"><div class="fragment5">
      </div></div>

      <!--      6-->
      <div class="piece6"><div class="fragment6"><div class="fragment6-2">
      </div></div></div>

      <!--      7-->
      <div class="piece7"><div class="fragment7"><div class="fragment7-2">
      </div></div></div>

      <!--      8-->
      <div class="piece8"><div class="fragment8">
      </div></div>

      <!--      9-->
      <div class="piece9"><div class="fragment9">
      </div></div>


    </div>


  </div>
</section>
